# node_modules and build outputs
node_modules
dist
.env
.nx
coverage
tmp

# Git
.git
.gitignore

# Mac specifics
.DS_Store

# Prisma specifics (if using local sqlite database or similar temp files)
*.db
*.db-journal
